flows-beymedias.it/EVENTMAKER_CONTACTS.yml
id: EVENTMAKER_CONTACTS
namespace: null

variables:
  projectId: beymedias-raw
  datasetId: eventmaker
  endpoint: https://app.eventmaker.io/api/v1
  accountId: 57e64a4b2667eb02c300375e
  pageSize: 1000

tasks:
  - id: drop_bigquery_contact
    disabled: true
    type: "io.kestra.plugin.gcp.bigquery.DeleteTable"
    projectId: "{{ vars.projectId }}"
    allowFailure: true
    dataset: "{{ vars.datasetId }}"
    table: raw_contact
    serviceAccount: '{{ secret("GCP_SERVICE_ACCOUNT") }}'
    
  - id: fetch_contact_count
    type: io.kestra.plugin.core.http.Request
    uri: "{{ vars.endpoint }}/accounts/{{ vars.accountId}}/contacts.json?auth_token={{ secret('EVENTMAKER_API_KEY') }}&per_page=1&page=1"
  
  - id: create_fetch_range
    type: io.kestra.plugin.core.debug.Return
    format: "{{ outputs.fetch_contact_count.headers.totalcount | first | jq('[range(0;.+1000;1000)] | map((./1000)+1)') | first }}"
  
  - id: fetch_range
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.create_fetch_range.value }}"
    concurrencyLimit: 1
    tasks:
      - id: contact_page
        type: io.kestra.plugin.core.flow.Subflow
        namespace: null
        flowId: EVENTMAKER_CONTACTS_PAGE
        inputs: 
          page: "{{taskrun.value}}"


